# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/python,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,visualstudiocode

# CH: ignore this script in project root (where it has to be run), if needed copy here from server folder.
Run_TouchTerrain_debug_server_app.py

# my private API key for testing
touchterrain/server/GoogleMapsKey.txt

# any images
*.png
*.jpg
*.tif
*old.*
*.xml
# auto generated json
example_config.json 

# any files in the tmp subfolders (but not .gitkeep!)
touchterrain/server/tmp/??*
touchterrain/server/downloads/??*
touchterrain/server/previews/??*

# some folders I'm experimenting with
keep_for_later

tmp/*
.vscode
test/*
*.zip
*.tif
*.stl
*.txt
*.ovr  
*.tfw 
*.xml
*/*/*/*_CH*
*/*/*_CH*
*/*_CH*
*_CH*

# default folder for stand alone
terrain  

# polygon files
*.kml
*.kmz

# white listings
!.gitignore
!tmp/.gitkeep
!README.md
!NEWS.md

# whitelisting
!test/test_TouchTerrain_standalone.py
!test/test_TouchTerrainGPX.py
!test/bottom_image_test.png
!test/sheepMtn_outline.kml
!test/SheepMtn.tif
!test/TouchTerrain_test_matrix.csv
!touchterrain/server/downloads/.gitkeep
!touchterrain/server/previews/.gitkeep
!touchterrain/server/tmp/.gitkeep
!touchterrain/server/static/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/python,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)