Pillow>=10.4.0
google-api-python-client>=2.151.0
earthengine-api>=1.2.0
Flask>=3.0.3
oauth2client>=4.1.3
numpy>=2.1.2
scipy>=1.14.1
kml2geojson>=5.1.0
geojson>=2.5
defusedxml>=0.7.1
six>=1.16.0
imageio>=2.36.0
k3d>=2.16.1
httplib2>=0.22.0


# GDAL is tricky to install, at least on Windows, as it needs to be compiled.
# You can get a pre-complied version of GDAL here:
# https://github.com/cgohlke/win_arm64-wheels
# https://github.com/cgohlke/geospatial-wheels/releases   
# Go to the current Release - Assests (may need to list ALL assests) and grab the one
# for you python version and windows system e.g. GDAL-3.4.3-cp310-cp310-win_amd64.whl
# Then install it with pip GDAL-3.4.3-cp310-cp310-win_amd64.whl
gdal>=3.2.1,<=3.9.3
