/* Leaflet.MousePosition styles */
.leaflet-control-mouseposition {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 5px #bbb;
    padding: 0 6px;
    font: 11px/1.8 "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333;
    white-space: nowrap;
}
